<% layout('layouts/boilerplate') %>
<div class="row justify-content-center mb-3">
    <div class="col-md-6">
        <div class="card mb-3">
            <img
                src="<%= campground.image %>"
                class="card-img-top"
                alt="Camping Image"
            />
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= campground.location %>
                </li>
                <li class="list-group-item">$<%= campground.price %>/night</li>
                <li class="list-group-item">
                    Submitted by: <%= campground.author.username %>
                </li>
            </ul>
            <!-- Only render if current user exists and the campground author is equal to the currentUser 
            meaning the current user is the author of the campground and can edit and delete 
            The mongoose .equals() method is used to compare ObjectId (_id) fields -->
            <% if(currentUser && campground.author.equals(currentUser)) { %>
            <div class="card-body">
                <a
                    class="btn btn-info card-link"
                    href="/campgrounds/<%= campground._id %>/edit"
                    >Edit</a
                >
                <form
                    action="/campgrounds/<%= campground._id %>?_method=DELETE"
                    method="POST"
                    class="d-inline"
                >
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
    </div>
    <div class="col-md-6">
        <% if (currentUser) { %>
        <!-- Reviews form -->
        <h3>Leave a Review</h3>
        <form
            class="needs-validation"
            action="/campgrounds/<%= campground._id %>/reviews"
            method="POST"
            novalidate
        >
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input
                    type="range"
                    class="form-range"
                    min="0"
                    max="5"
                    name="review[rating]"
                    id="rating"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please add a rating</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea
                    class="form-control"
                    name="review[body]"
                    id="body"
                    cols="30"
                    rows="2"
                    required
                ></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please add a review</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
        <% } %>
        <h3>Reviews</h3>
        <ol class="list-group list-group-numbered">
            <% for (const review of campground.reviews) { %>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="ms-2 me-auto">
                    <h5>Rating: <%= review.rating %></h5>
                    <h6 class="fw-normal text-muted">
                        By: <%= review.author.username %>
                    </h6>
                    <%= review.body %>
                </div>
                <% if(currentUser && review.author.equals(currentUser)) { %>
                <form
                    action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <% } %>
            </li>
            <% } %>
        </ol>
    </div>
</div>
