<% layout('layouts/boilerplate') %>
<div class="row justify-content-center mb-3">
    <div
        class="mb-3"
        id="map"
        style="width: 100%; height: 400px"
        data-campground="<%= JSON.stringify(campground) %> "
    ></div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div
                id="carouselCampgroundsControls"
                class="carousel slide"
                data-bs-ride="carousel"
            >
                <div class="carousel-inner">
                    <% campground.images.forEach((image, index) => { %>
                    <div
                        class="carousel-item <%= index === 0 ? 'active' : '' %>"
                    >
                        <img
                            src="<%= image.url %>"
                            class="d-block w-100 card-img-top"
                            alt="Camping Image"
                        />
                    </div>
                    <% }); %>
                </div>
                <% if (campground.images.length > 1) { %>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselCampgroundsControls"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselCampgroundsControls"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <% } %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= campground.location %>
                </li>
                <li class="list-group-item">$<%= campground.price %>/night</li>
                <li class="list-group-item">
                    Submitted by: <%= campground.author.username %>
                </li>
            </ul>
            <!-- Only render if current user exists and the campground author is equal to the currentUser 
            meaning the current user is the author of the campground and can edit and delete 
            The mongoose .equals() method is used to compare ObjectId (_id) fields -->
            <% if(currentUser && campground.author.equals(currentUser)) { %>
            <div class="card-body">
                <a
                    class="btn btn-info card-link"
                    href="/campgrounds/<%= campground._id %>/edit"
                    >Edit</a
                >
                <form
                    action="/campgrounds/<%= campground._id %>?_method=DELETE"
                    method="POST"
                    class="d-inline"
                >
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
    </div>
    <div class="col-md-6">
        <% if (currentUser) { %>
        <!-- Reviews form -->
        <h3>Leave a Review</h3>
        <form
            class="starability needs-validation"
            action="/campgrounds/<%= campground._id %>/reviews"
            method="POST"
            novalidate
        >
            <fieldset class="starability-basic">
                <legend class="visually-hidden">Review rating:</legend>
                <input
                    type="radio"
                    id="no-rate-basic"
                    class="input-no-rate"
                    name="review[rating]"
                    value="0"
                    checked
                    aria-label="No rating."
                />
                <% for (const [index, ratingCategory] of
                ratingCategories.entries()) { %>
                <input
                    type="radio"
                    id="review-rate-<%= index + 1 %>"
                    name="review[rating]"
                    value="<%= index + 1 %>"
                    data-category="<%= ratingCategory %>"
                />
                <label
                    for="review-rate-<%= index + 1 %>"
                    title="<%= ratingCategory %>"
                    ><%= index + 1 %> star</label
                >
                <% } %>
            </fieldset>
            <div class="mb-3">
                <label class="form-label" for="body">Review Text</label>
                <textarea
                    class="form-control"
                    name="review[body]"
                    id="body"
                    cols="30"
                    rows="2"
                    required
                ></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please add a review</div>
            </div>
            <div>
                <label class="visually-hidden" for="ratingCategory"
                    >Rating Category</label
                >
                <input
                    type="hidden"
                    name="review[ratingCategory]"
                    value="Terrible"
                />
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
        <% } %>
        <h3>Reviews</h3>
        <ol class="list-group list-group-numbered">
            <% for (const review of campground.reviews) { %>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="ms-2 me-auto">
                    <h5
                        class="starability-result"
                        data-rating="<%= review.rating %>"
                    >
                        Rated: <%= review.rating %> stars
                    </h5>
                    <h6><%= review.body %></h6>
                    <p class="text-muted">By: <%= review.author.username %></p>
                </div>
                <% if(currentUser && review.author.equals(currentUser)) { %>
                <form
                    action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <% } %>
            </li>
            <% } %>
        </ol>
    </div>
</div>
