<!-- adding the boilerplate layout to the template -->
<% layout('layouts/boilerplate') %>
<!-- All this content will be inside <body></body> -->
<h1>All Campgrounds</h1>

<div class="row mb-4">
    <% for (const campground of campgrounds) { %>
    <div class="col-sm-6 col-md-3 g-4">
        <div class="card">
            <img
                src="<%= campground.image %>"
                class="card-img-top"
                alt="Campground Image"
            />
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p>
                    <small class="text-muted"><%= campground.location %></small>
                </p>
                <a
                    class="btn btn-primary"
                    href="/campgrounds/<%= campground._id %>"
                    >View <%= campground.title %></a
                >
            </div>
        </div>
    </div>
    <% } %>
</div>
